---
layout: default
---

<article>
  {% for article in  site.data.news %}
    <section>
      <img src="{{site.baseurl}}{{article.img}}" alt="{{article.title}}">
      <h2>{{article.title}}</h2>
      <p><a href="{{site.baseurl}}{{article.link}}">{{article.link-text}}</a></p>
    </section>
  {% endfor %}
</article>
<article>
  {% for project in site.data.projects %}
    <section>
      <img src="{{site.baseurl}}{{project.img}}" alt="{{project.title}}">
      <h2>{{project.title}}</h2>
      <p><a href="{{site.baseurl}}{{project.link}}">{{project.link-text}}</a></p>
    </section>
  {% endfor %}
</article>
